@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background-color: rgba(50, 70, 50, 0.9);
  background-image: url('backgroundImages/The_Underdark.jpg');
  background-size: 100%;
  color: rgb(220, 220, 220);
}

.AttributeCell {
  margin: auto;
  text-align: center;
  padding: 2px;
}

th, td {
  text-align: center;
  background-color: rgba(50, 70, 50, 0.8);
  border: 1px solid rgb(200, 200, 200);
  flex-grow: 1;
  word-wrap: break-word;
}

td {
  font-size: 2.2vh;
}

table, .padding {
  margin: 5px;
}

tr {
  border: 1px solid rgb(200, 200, 200);
  -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
}

.generalCell {
  margin: auto;
  min-width: 20px;
  text-align: center;
  padding: 2px;
}

.inline {
  display: inline;
}

.SkillBar {
  max-width: 20vw;
}

.mw20{
  max-width: 20vw;
}

.quadrant2 {
  max-height: 30vh;
}

.sideBar {
  width: 200px;
  float: left;
  margin-right: 5px;
  height: 100vh;
}

button{
  border-radius: 5px;
  color: white;
  background-color: rgba(20, 120, 20, 0.8);
}

.md-18 {
  font-size: 18px !important;
}

.tableSearchBar {
  border: 0px;
  opacity: 0.5;
  color: black;
  text-align: right;
  width: calc(100% - 4px);
  margin: 2px 2px 2px 2px;
}

.searchIcon {
  position: absolute;
  margin-left: -2.2vw;
  pointer-events: none;
}