@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.AttributeCell {
  margin: auto;
  text-align: center;
}

th {
  border: 1px solid black;
}